@template("Sign Out")("signout") {

  <div class="container">
    <div class="row">
      <div id="signoutRow" class="span6 offset3">
        <h3 class="hdr">You've signed out. Thanks for coming!</h3>

        <p class="center">Want to switch accounts?<br>You may need to sign out of your <a href="http://twitter.com/">Twitter
            account</a>.</p>

        <a id="signin" href="@routes.Application.auth()" class="btn btn-block btn-large btn-info"><em class="icon icon-twitter"></em> Sign In Again</a>
      </div>
    </div>
  </div>

}